
/***** Variabili *****/
:root {
  --border-radius:30px;
  --primary-bg-color: #374FEE;
}

/***** generale *****/

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  padding: 2rem;
  gap: 2rem;
  margin: 0 auto;

}
.img-mobile{display: none;}

/***** header *****/

/********** HEADER **********/

#header{
  background-color:var(--primary-bg-color) ;

  display:flex;
  justify-content: space-evenly ;
  position: sticky;

  top: 0;
  left: 0;
  z-index: 100;

  color:var(--color-text-blue-part);
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
}


#header.rounded {
  border-radius: var(--border-radius);
  transition: border-radius 0.3s ease;
}

/********** left-side-header **********/

#left-side-header{
  display: flex;
  align-items: center;
}

#circle {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  display: flex;           
  justify-content: center;
  align-items: center;
  font-weight: bold;  
}

#circle-tx{
  padding-left: 0.1rem;
  font-size: 1rem;  
}

#sideof-circle{
  margin-left: 0.5rem;
  transition: opacity 0.4s ease, width 0.4s ease;
  white-space: nowrap;
  overflow: hidden;
}

#sideof-circle-tx{font-size: var(--font-size-header);}


/********** navbar **********/
   
#nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-header ul {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

#nav-header ul li {
  padding: 1rem 0;
  opacity: 0.8;
  flex-grow: 1;         
  text-align: center;  
  margin: 0 0.5rem; 
}

#nav-header ul li:hover {opacity: 1;}

.nav-bar-link {
  text-decoration: none;
  color: inherit;
}

#menu-toggle {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-text-blue-part); 
  border-radius: 2px;
  transition: all 0.4s ease;
}

/* Stato aperto: trasformiamo in X */
#menu-toggle.open .bar1 {opacity:0}

#menu-toggle.open .bar2 {transform: rotate(45deg);}

#menu-toggle.open .bar3 {    
  transform: rotate(136deg);
  position: relative;
  top: -9px;
}

/* header mobile */
@media (max-width: 768px) {

  #sideof-circle {
    opacity: 0;
    width: 0;
    pointer-events: none; 
  }

  #header{justify-content: space-between;}

  #menu-toggle {display: flex;}  

  #nav-header {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    max-height:0;   
    transition: max-height 0.4s ease;

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
  }

  #nav-header ul {
    flex-direction: column;
    align-items: center;
  }
  
  #nav-header ul li {font-weight: bold;}

  #nav-header ul li:hover {color:var(--primary-bg-color)}

  #nav-header.active {max-height: 400px;}

}

/***** main *****/

#prog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
  margin: 2rem 0
} 

/***** title *****/

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  color:var(--primary-bg-color);
  font-size:2rem;
  font-weight: bold;
}


/***** general container *****/

.container-general-text,
.container-media {
  flex: 1 1 45%;
}


/***** general container/text *****/

.container-general-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spiegazione-container{
  flex:none;
  margin: 1rem 0 ;
}

.visit-link{
  display: block;
  margin-top:0.8rem;
}

.visit-link a {
  display: block;
  font-size:1.2rem;
  font-weight: bold;
  color: var(--primary-bg-color);
}

/***** general container/img *****/
.container-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  max-width: 500px;
  max-height: 500px;
}

/***** swiper *****/


/* Contenitore Swiper */

.swiper {
  max-width: 500px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiperProg2{display: none;}

.swiper-wrapper{
  height: 80px;
  margin-top: 0;
}

.swiper slide{height: fit-content;}

.swiper-slide i {
  transform:none;
  font-size: 4rem;
}


.swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #aaa;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
  color:black
}

.swiper-button-prev,
.swiper-button-next {color: var(--primary-bg-color)}


#wrapper-prog { margin-top: 0;}

@media (max-width: 880px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
  }

  .container-general-text,
  .container-media {
    width: 100%;
  }

  .img-prog {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}


/* Mobile responsive */
@media (max-width: 768px) {

  .mySwiperProg{display: none;}

  .mySwiperProg2{display: block;}
  
  .main-container {
    height: auto;
  }

  #prog {
    flex-direction: column;
    align-items: center;
  }

  .swiper-slide {width: 60px ;}

  .swiper-slide-active {width: 60px;}

  .container-general-text,
  .container-media {
    width: 50%;
  }

  .img-prog {
    max-width: 100%;
    display: none;
  } 

  .img-mobile{
    display: block;
    width: 95%;
    padding: 18px;
    object-fit: cover;
    margin: 5px;
  }

}
